* {
  /* border: 1px solid red; */
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.mainContainer {
  height: 100%;
}
